<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entreprenuers to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, facere, quaerat, maxime, sapiente placeat commodi quae libero assumenda voluptates fuga in fugiat officiis blanditiis ut autem necessitatibus molestiae esse nesciunt.</p>
</div>